<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/list_amigos.css">
</head>
<body>
   <%- include cabecera %>
   <%- include("flash") %>
   <section class="contenido">
        <%- include("amigos") %>

        <%- include("solicitudes") %>

        <%- include("pendientes") %>

        <div class="superior">
          <span>Buscar</span>
        </div>
        <div class="buscador">
          <ul class="busca">
            <li>
              <form action="amigos.html" method="post">
              <input class="input-buscador" type="text" name="busca">
              <input id="boton" type="submit" value="Buscar">
              </form>
            </li>
          </ul>
        </div>
   </section>

</body>
</html>
