<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/profile.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span>Tu perfil</span>
        </div>
        <div class="info-perfil">
            <img class="leftav" src="/imagen_perfil/<%= usuario.email %>">
            <form action="/modify_profile.html" method="post" enctype="multipart/form-data">
              <ul class="datos-modificar">
                <li>
                  <div class="izq">
                    <span>Nombre</span>
                  </div>
                  <div class="der">
                    <input type="text" name="nombre" value="<%= usuario.nombre_completo %>">
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Edad</span>
                  </div>
                  <div class="der">
                    <input type="number" name="edad" value=<%= usuario.edad %>>
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Sexo</span>
                  </div>
                  <div class="der">
                    <input type="text" name="sexo" value=<%= usuario.sexo %>>
                  </div>
                </li>
                <li>
                  <div class="izq">
                    <span>Imagen de perfil</span>
                  </div>
                  <div class="file-img">
                    <input type="file" name="imagen_perfil" value="Seleccionar archivo">
                  </div>
                </li>
                <li class="butt">
                  <input class="boton" type="submit" value="Aceptar">
                </li>
              </ul>
            </form>
        </div>
   </section>

</body>
</html>
