<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/profile.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
        <div class="superior">
            <span>Tu perfil</span>
        </div>
        <div class="info-perfil">
            <img id="leftav" src="/imagen_perfil/<%= usuario.email %>">
            <ul class="datos">
              <form action="/modify_profile.html" method="post" enctype="multipart/form-data">
                <li class="campo">
                  <div class="izquierda">
                    <span>Nombre</span>
                  </div>
                  <div class="derecha">
                    <input id="inputs" type="text" name="nombre" value="<%= usuario.nombre_completo %>">
                  </div>
                </li>
                <li class="campo">
                  <div class="izquierda">
                    <span>Edad</span>
                  </div>
                  <div class="derecha">
                    <input id="inputs" type="number" name="edad" value=<%= usuario.edad %>>
                  </div>
                </li>
                <li class="campo">
                  <div class="izquierda">
                    <span>Sexo</span>
                  </div>
                  <div class="derecha">
                    <input id="inputs" type="text" name="sexo" value=<%= usuario.sexo %>>
                  </div>
                </li>
                <li class="f_imagen">
                    <span>Imagen de perfil</span>
                    <input class="input_img" type="file" name="imagen_perfil" value="Seleccionar archivo">
                </li>
                <li class="butt">
                  <input id="boton" type="submit" value="Aceptar">
                </li>
                </form>
            </ul>
        </div>
   </section>

</body>
</html>
