<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/profile.css">
</head>
<body>
   <%- include cabecera %>
   <section class="contenido">
     <%- include("flash") %>
        <div class="superior">
            <span>Perfil</span>
        </div>
        <div class="info-perfil">
            <img id="leftav" src="/imagen_perfil/<%= usuario.email %>">
            <ul class="datos">
                <li>Nombre: <%= usuario.nombre_completo %></li>
                <% if(usuario.edad){ %>
                  <li>Edad: <%= usuario.edad %> años</li>
              <%  } %>
                <li>Sexo: <%= usuario.sexo %></li>
                <li>Puntos: <%= usuario.puntos %> puntos</li>
                <%- include("modificar") %>
            </ul>
        </div>
    <%- include("fotos") %>
   </section>
</body>
</html>
