<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/profile.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/profile.html">Perfil</a></li>
               <li><a href="/amigos.html">Amigos</a></li>
               <li><a href="">Preguntas</a></li>
               <li><a href="/logout.html">Desconectar</a></li>
               <li><img id="lilav"src=<%= usuario.imagen %>></li>
               <li id="ptos"><%= usuario.puntos %> pts</li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
        <div class="superior">
            <span>Tu perfil</span>
        </div>
        <div class="info-perfil">
            <img id="leftav" src=<%= usuario.imagen %>>
            <ul class="datos">
                <li>Nombre: <%= usuario.nombre_completo %></li>
                <li>Edad: <%= usuario.edad %> años</li>
                <li>Sexo: <%= usuario.sexo %></li>
                <li>Puntos: <%= usuario.puntos %> puntos</li>
            </ul>
        </div>
        <div class="button-modificar">
          <form action="/modify_profile" method="get">
            <input id="boton" type="submit" value="Modificar perfil">
          </form>
        </div>
   </section>

</body>
</html>
