<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigos - FaceBluff</title>
    <link rel="stylesheet" type="text/css" href="./css/preguntas.css">
</head>
<body>
   <header>
          <div>
                <img src="img/Logo.png" alt="FaceBluff - Logo" id="logo">
          </div>
          <nav class="enlaces">
           <ul class="lista">
               <li><a href="/profile.html">Perfil</a></li>
               <li><a href="/amigos.html">Amigos</a></li>
               <li><a href="/preguntas.html">Preguntas</a></li>
               <li><a href="/logout.html">Desconectar</a></li>
               <li><img id="lilav"src="/imagen_perfil/<%= userEmail %>"></li>
               <li id="ptos"><%= puntos %> pts</li>
           </ul>
       </nav>
   </header>
   <section class="contenido">
        <div class="superior">
            <span><%= pregunta.texto %></span>
        </div>
        <form action="/pregunta/<%= pregunta.id %>" method="post">
          <ul>
            <% if(respuestas){
              respuestas.forEach(respuesta =>{ %>
                <li>
                  <input type="radio" name="respuesta" value="<%= respuesta.respuesta %>">
               </li>
                  <% })
                } %>
                <li> <input type="radio" name="respuesta" value="Otra:"> <input name="otraResp" type="text"> </li>
          </ul>
          <input type="submit" value="Responder">
        </form>
   </section>
</body>
</html>
