<%if(solicitudes.length !== 0){ %>
  <div class="superior">
    <span>Solicitudes</span>
  </div>
  <div class="amistad-solicitada">
    <ul class="lista-solicitudes">
  <% solicitudes.forEach(amigo =>{%>
    <li>
      <div class="izquierda">
        <img class="img-perfil" src="/imagen_perfil/<%= amigo.email %>"" alt="avatar">
        <form action="profile.html" method="post">
          <input type="hidden" value="<%= amigo.email %>" name="nombre">
          <input id="boton-perfil" type="submit" value="<%= amigo.nombre_completo %>">
        </form>
      </div>
      <div class="derecha">
        <form action="confirmar_amigo.html" method="post">
          <input type="hidden" value="<%= amigo.email %>" name="email">
          <input type="hidden" value=1 name="accion">
          <input id="boton" type="submit" value="Aceptar">
        </form>
        <form action="confirmar_amigo.html" method="post">
          <input type="hidden" value="<%= amigo.email %>" name="email">
          <input type="hidden" value=0 name="accion">
          <input id="boton" type="submit" value="Rechazar">
        </form>
      </div>
    </li>
  <%}) %>
    </ul>
  </div>
<% } %>
